body{
    background-color:rgb(220, 219, 254);
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: white;
    height: 160px;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px ;
    text-align: center;
    
}

.img_perfil{
    float: left;
    width: 130px;
    height: 160px;
    margin-top:-165px;
}

.foto_perfil_sem_mouse{
    width: 130px;
    height: 160px;
    transition: 0,3s;
}

.foto_perfil_com_mouse{
    width: 180px;
    height: 210px;
    transition: 0,3s;
}

#Ifsp{
    float: right;
    width: 140px;
    height: 120px;
    margin-top: -150px;
}

Section{
    background-color: white;
    width: 460px;
    margin-left: 307px;
    padding: 10px;
    margin-top: 20px;
}

h1{
    margin-top: 5px;
}

aside{
    background-color: white;
    float: right;
    height: 220px;
    width: 230px;
    margin-top: -440px;
    margin-right: 305px;
    text-align: center;

}

.escuro_body{
    background-color:rgb(41, 38, 38);
    color: white;
}

.escuro_corpo{
    background: rgb(109, 103, 103);
    color: white;
}

.claro{
    background-color: white;
    color: #000;
}